.container-class {
  align-items: center;
  text-align: center;
  justify-content: center;
}
#btn {
  background-color: green;
  border: none;
  color: whitesmoke;
  height: 25px;
  width: 100px;
  cursor: pointer;
}
.input-value {
  margin-right: 1px;
  height: 25px;
  width: 300px;
  border: none;
}
#del-btn {
  background-color: rgb(221, 109, 109);
  color: whitesmoke;
  border: none;
  border-radius: 2px;
  padding: 10px;
  text-align: right;
  cursor: pointer;
}
#list {
  margin-right: 10px;
  list-style-type: none;
  color: black;
  font-weight: bold;
  padding: 20px;
  background-color: #f7ede2;
  justify-content: left;
  border-bottom-color: black;
  font-size: 22px;
  border-bottom: 6px solid grey;
  text-align: right;
  display: flex;
  flex-direction: row;
}
h2 {
  color: aliceblue;
}
body {
  background-color: #495057;
}
#up-arrow {
  background-color: lightyellow;
  border: 1px solid grey;
  cursor: pointer;
}
#down-arrow {
  background-color: lightyellow;
  border: 1px solid grey;
  cursor: pointer;
}
.editbtn {
  background-color: rgb(234, 234, 158);
  color: rgb(36, 33, 33);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
